.content{
	margin-top: 100px;
	margin-bottom: 200px;
}
#yanzhengmaContainer{
	hegiht: 300px;
	width: 300px;
	display: inline;
}
.submit-button{
	background: rgb(255, 127, 82);
	color: #fff;
	border: none;
	width: 90%;
	height: 40px;
	margin-top: 30px;
}
.red-color{
	color: #f00;
}
