jdbc.driver=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://127.0.0.1:3306/hubble?useUnicode=true&characterEncoding=utf8
jdbc.username=yuanlunchuan
jdbc.password=5yuanlunchuan
jdbc.initialSize=0
jdbc.maxActive=20
jdbc.maxIdle=20
jdbc.minIdle=1
jdbc.maxWait=60000