.content{
	margin-top: 40px;
}
.blue{
	background: rgb(84, 173, 233);
	color: #fff;
	font-size: 30px;
	height: 85px;;
}
.text-container{
	background: #fff;
}
.margin-left-3{
	padding-left: 3px;
}
.message-table{
	margin-top: 40px;
}